.textStyle{
    font-size: 20px;
    display: inline-flex;
    color: rgb(255, 255, 255);
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0px;
    font-family: 'fontGameBoy';
    font-weight: 50;
}

.titleStyle{
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 60px;
    text-transform: capitalize;
    padding: 0 ;
    font-family: 'pokeFont';
    font-weight: 300;
    
}

.cardStyle{
    background-color: rgba(241, 86, 80, 0.826);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    border: 3px solid rgb(182, 182, 182);
    text-shadow: 2px 2px 2px black;
    margin-top: 25px;
    padding: 0px 10px 15px 10px;
}

.detailImage {
    height: 350px;
    aspect-ratio: 4/3;
    object-fit: contain;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 1));
    margin: 5px;
    }

.detailIcon {
    aspect-ratio: 1/1;
    height: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.headerElements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
}

.typesContainer{
    display: inline-block;
    gap: 5px;
}

.containerImg{
    border: 5px solid transparent; /* Establece un borde transparente */
    border-image: linear-gradient(to right, gold, white, gold);
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, gold, white, gold);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to left, rgb(5, 143, 0), rgb(136, 135, 135), rgb(5,143,0));
}

.button{
    cursor: pointer;
    margin-top: 10px;
    border: 5px;
    color: white;
    background-color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    border: 1px solid white;
    padding: 4px 15px;
}

.button:hover{
    background-color: white;
    color: red;
}

.itemsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-top: 10vh;
}

@keyframes square-in-center {
    from {
      clip-path: inset(100% 100% 100% 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
  }