html{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/img/High_resolution_wallpaper_background_ID_77700561785.webp);
  background-size: cover ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "pokeFont";
  src: url(../src/assets/PocketMonk-15ze.ttf);
}

@font-face {
  font-family: "fontGameBoy";
  src: url(../src/assets/PokemonGb-RAeo.ttf);
}