.container{
    min-height: 100px;
    width: 15em;
    object-fit: contain;
    border-radius: 15px;
    margin: 0 auto;
    translate: -75vh 0vh ;
}


.form{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5px;
    background-color: rgba(191, 191, 191, 0.566);
    border: 5px solid gray;
    border-radius: 30px;
    padding-bottom: 15px;
}

label:first-of-type{
    margin-top: 10px;
}

span{
    font-size: 5px;
    margin: 5px;
    padding: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.imagen {
    width: 50%;
    object-fit: contain;
    padding-top: 30px;
    border-radius: 50px;
}

/* button {
    background-color: rgb(160, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    padding: 4px 35px;
    font-size: large;
    margin-bottom: 15px;
} */

button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 1, 1);
}

input {
    outline: none;
    border-radius: 10px;
    width: 20vh;
    height: 3vh;
}

.error{
    border-color: red;
    box-shadow: 1px 1px 15px red;
}

.errorText{
    text-shadow: 2px 2px 1px black;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif
}

.success{
    border-color: rgb(0, 128, 0);
    box-shadow: 1px 1px 15px rgb(0, 128, 0);
}

.inputLabel{
    text-shadow: -2px 1px black;
    /* transform: translateX(-50px); */
    font-size: 25px;
    text-align: center;
    display: block;
}

.loginBanner{
    text-shadow: 2px 2px 4px black;
    text-align: center;
    margin: 0px;
    font-size: 5vh;
}

p{
    color: aliceblue;
    margin-bottom: 0px;
    font-family:'Times New Roman', Times, serif
}

.btnSubmit{
    background-color: rgb(42, 182, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    padding: 4px 35px;
    font-size: large;
}

.btnCancel{
    background-color: rgb(246, 20, 20);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    padding: 4px 35px;
    font-size: large;
}

.btnSubmit:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(42, 182, 0);
}

.btnCancel:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(246, 20, 20);
}

select {
    outline: none;
    border-radius: 7px;
    width: 21vh;
    height: 3vh;
}

.row{
    display: flex;
    gap: 15px;
}

.formElements{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

.containerForm{
    display: grid;
    min-height: 80vh;
    align-content: center;
    justify-content: center;
}