
/* .cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
} */


.cardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,350px));
    justify-content: center;
    justify-items: center;
    gap: 1vw;
} 



.buttons{
    cursor: pointer;
    margin:15px;
    padding: 2px 15px;
    background-color: rgb(217, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
}

.elementContainer{
    display: grid;
    grid-template-columns: 1fr 4fr ;
    margin: 0 15px;
}